* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /*background-color: #47b5f5;*/
  background-color: #010b1a; /*dark mode*/
  color: #bccbe3; /*font color*/
  font-family: 'Playfair Display', serif;
}

h1 {
  text-align: center;
  background-color: #DDE0E3; /*#DDE0E3*/
  padding: 50px;

  font-size: 40px;
/*  box-sizing: border-box;
  margin: 0;*/
  color: black;
}

nav{
    background-color: #08174f;
}

 nav, a {
  text-align: center;
  /*background-color: #DDE0E3;*/

  padding: 1.5em;
  font-size: 1.3em;
  color: white;
  margin-bottom: 4em;
}

nav a{
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
}

nav a:hover {
  color: #8646cf;
}

.Andres{
 float:right;
 margin-right: 50px;
 max-width: 350px;
 height: auto;
 flex-wrap: wrap;
 object-fit: contain;
}


.about h2{
  /*margin-left: 350px;*/
  font-size: 5em;
  text-align: center;
  margin-bottom: 1em;

  /*text-align: center;*/
}

p.welcome{
  text-align: center;
  font-size: 40px;
  margin-bottom: 3em;

}


.about {
  align-items: center;
}
.aboutSec{
  display: flex;
/*align-items: center;*/
  margin-bottom: 3em;
  justify-content: center;
}

.about .aboutPAR {
  width: 800px;
  border: 1px solid #bccbe3;
  padding: 50px;
  margin: 20px;
  font-size: 20px;
  /*margin-left: 300px;
  margin-right: 100px;*/
  text-align: center;
}


h4{
  margin-bottom: 1em;
}

.destiny{
  font-size: 3em;
  color: #f00dfc;
}

/*footer*/
.btt{
  font-size: 2em;
  color: white;
  background-color: black;
  float: right;

}

.btt a{
  text-decoration: none;
}
.btt a:hover {
  color: #8646cf;
}


.contact{
    background-color: black;
    color:white;
    /*! height:270px; */
}

.contact .social{
  margin-bottom: 20px;
}

.b2t{
  background-color: black;
  color:white;
}


.social-icons ul{
  /*! position: absolute; */
  /*top: 20%;
  left: 50%; */
  padding: 0;
  margin: 0;
  /*transform: translate(-50%, -50%);*/
  display: flex;

}

.social-icons ul li{
  list-style: none;
  margin: 0 20px;

}

.social-icons ul li .fa{
  font-size: 2em;
  line-height: 0.20em;
  transition: .6s;
  color: #000;
}

.social-icons ul li a{
  /*position: relative;*/
  display: block;
  width: 2em;
  height: 2em;
  border-radius: 50px;
  background-color: white;
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
}

.social-icons ul li a:hover{
  transform: translate(0, -10px);
}

.social, .email, .contactme{
  font-size: 1.25em;
}



/*code*/

.grid-container{
  display: grid;
  grid-template-rows: 96px 1fr 100px;
  align-items: center;
  min-height: 100vh;
}


.codeGit {
  display: flex;
  justify-content: center;
}


.codeGit ul{
  /*! position: absolute; */
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  /*! transform: translate(-50%, -50%); */
  /*! display: flex; */

}

.codeGit ul li{
  list-style: none;
  margin: 0 15px;

}

#cat{
  text-decoration: none;
}


.codeGit ul li .fa{ /*cat*/
  font-size: 18em;
  line-height: 0.75em;
  transition: .6s;
  color: #000;

}

.codeGit ul li a{
  /*! position: relative; */
  display: block;
  width: 18em; height: 18em;
  /*! height: 60px; */
  /*! max-height: 80vh; */
  /*! max-width: 80vw; */
  border-radius: 50%;
  background-color: #96c4e0;
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
}

.codeGit ul li a:hover{
  transform: translate(0, -20px);
}

.note{
  font-size: 1.4em;
}

/*photos*/


.photobox {
  width: auto;
  border: 1px solid #bccbe3;
  padding: 50px;
  margin: 20px;
  font-size: 20px;
  /*margin-left: 300px;
  margin-right: 100px;*/
  text-align: center;
}

.confiaText{
  margin-top: 1em;
  text-align:left;
}

.note{
  text-align: center;
}



/*audios*/
.audiobox {
  width: auto;
  border: 1px solid #bccbe3;
  padding: 50px;
  margin: 20px;
  font-size: 20px;
  /*margin-left: 300px;
  margin-right: 100px;*/
  text-align: center;
}

.music{
  font-size: 1.5em;
  color: yellow;
}


.wintertext{
  text-align: left;
}

.soccar{
  font-size: 1.5em;
}

.room{
  font-size: 2em;
}



/*.hyper {
  width: 400px;
  border: 1px solid #bccbe3;
  padding: 50px;
  margin: 20px;
  font-size: 20px;
  /*margin-left: 300px;
  margin-right: 100px;
  text-align: center;
  /*display: inline-block;*/
}

/*.dreams {
  width: 400px;
  border: 1px solid #bccbe3;
  padding: 50px;
  margin: 20px;
  font-size: 20px;
  /*margin-left: 300px;
  margin-right: 100px;
  text-align: center;
  display: inline-block;
  float: right;
}*/
